**/*.cache

emacs/.emacs.d/network-security.data

emacs/.emacs.d/resources/**

emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/backup/
emacs/.emacs.d/backups/
emacs/.emacs.d/elpa/
emacs/.emacs.d/eshell/
emacs/.emacs.d/transient/
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/smex-items
